body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

nav {
    background-color: darkslategrey;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav a{
    color: aliceblue;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-right: 1px solid aliceblue;
    text-decoration: none;
}

nav a:hover {
    color: yellowgreen;
}

/**
 * Composant de musique
 */

.music {
    background-color: silver;
    display: inline-block;
    min-width: 300px;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.music img {
    float: left;
    max-width: 130px;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.music audio {
    height: 22px;
    margin: 0.5rem 0;   
    display: block;
}

.music button {
    background-color: #f00;
}

 /*********/

button {
    border: 0;
    background-color: darkgray;
    padding: 0.5rem 1rem;
    border-radius: 3px;
}

form {
    /* display: block; */
    padding: 1rem 0;
    border-bottom: 1px solid lightgreen;
    margin-bottom: 0.6rem;
    box-shadow: 0px 7px 14px 0px aquamarine;
    min-width: auto;
    border-radius: 5px;
    height: 40px;
}

label {
    padding-left: 100px;
}

label, input, select {
   font-size: 1.2rem;
}

input[type=text] {
    min-height: 30px;
    /* border */
 }
 input[type=submit], button[type=submit] {
    float: right;
    height: 48px;
    width: 48px;
    font-size: 23px;
    background-color: darkkhaki;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(180, 174, 93, 1);
    padding: 0;
    margin-right: 10px;

 }
 textarea{
    /*your styles here.....*/
 }